minimum-release-age=10080
minimum-release-age-strict=true
minimum-release-age-ignore-missing-time=true
resolution-mode=highest
registry-supports-time-field=true
minimum-release-age-exclude=@types/node,@biomejs/biome,typescript,prisma,@prisma/client,@prisma/config,@nestjs/common,@nestjs/core,@nestjs/platform-express,reflect-metadata,rxjs,tsx,@vitejs/plugin-react,@types/react,@types/react-dom,vite,react,react-dom
